@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body, html {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: rgb(179, 179, 179);
}

/* Header */
.site-header { 
    padding: 0.3em 0.5em;
    display: flex;
    margin: 0px 40px;
    align-items: center;
    justify-content: space-between;
}

.site-identity h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.6em 0;
    display: inline-block;
}

.site-navigation ul,
.site-navigation li {
    margin: 0;
    padding: 0;
}

.site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
    font-size: 20px;
}

/* Parallax */
.parallax {
    height: 90vh;
    background-image: url('photo/fon.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}

.parallax h5 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    margin: 0px 0px 20px 120px;
}

.parallax p {
    color: white;
    font-size: 30px;
    margin: 0px 0px 20px 120px;   
}

/* catigoris */
.catigoris{
    display: flex;
    margin: 0px 210px;
}

.catigoris a{
    font-size: 15px;
    font-weight: normal;
    margin: 20px 40px;
}

/* collag */
.collag{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    justify-items: center; 
    column-gap: 30px;
    row-gap: 40px;
    margin: 20px auto;
}

.class_model{
    font-size: .700rem;
    line-height: 1rem;
    font-weight: 400px;
    margin: 5px 10px 5px; 
}

.name_model{
    margin-top: 3px;
    min-height: 100px;
}

.name_model a{
    font-size: 1.020rem;
    font-weight: bold;
    margin: 10px;
    color: #131317;
}

.price{
    font-size: 1.125rem;
    font-weight: 700;
    padding: 2px 8px 15px 20px;
    font-size: 20px;
}

.tit_header{
    display: flex;
    text-transform: uppercase;
    margin: 0px 0px 0px 240px;
}

.tit_header a{
    font-size: 35px;
}

.tovar{
    width: 270px;
    min-height: 350px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Размещаем элементы в колонку */
    border-radius: 10px;
    transition: 0.2s;
    position: relative;
}

.tovar:hover {
    box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
}

.image_coll{
    flex: 0 0 220px;
    position: relative;
    overflow: hidden;
}

.image_s{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image_s > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.2s;
}

.image_s:hover > img {
    transform: scale(1.1);
}

/* whyus */
.whyus{
    margin: 150px 150px 150px;
}

.whyus h5{
    font-size: 50px;
    margin: 70px 115px;
}

.container {
    display: flex;
    justify-content: space-between;
  }
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
  }
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .icon {
    font-size: 40px;
  }
  .text3 {
    font-size: 28px;
}

/* video */
.videoabout h5{
    font-size: 60px;
    margin: 60px 0px 60px 0px;
    text-align: center;
    font-weight: bold;
}

.video{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

/* Наличие галереи фото товара */
.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-image {
    margin: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.gallery-image img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.text2 h5{
    font-size: 50px;
    margin: 20px;
    text-align: center;
}


/* Форма */

.Contact{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 4px;
    outline: none !important;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}
input.valid {
    border-color: #36cc36;
}
input.invalid {
    border-color: orange;
}
input + p {
    font-family: arial;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin: 0 10px;
    color: orange;
    opacity: 0;
    height: 0;
    transition: opacity 0.3s, height 0.3s;
}
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer h3 {
    color: #fff;
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #fff;
    margin-bottom: 5px;
    text-decoration: none;
  }
  
  .footer h5 {
    margin-top: 20px;
  }
  
  .information, .support, .acc, .contacts {
    display: inline-block;
    margin-right: 20px;
  }
